<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <form id="myForm">
                <label for="title">Title:</label><br />
                <input type="text" id="title" name="title" /><br /><br />

                <label for="type">Type:</label><br />
                <input type="text" id="type" name="type" /><br /><br />

                <label for="user_id">User Id:</label><br />
                <input type="number" id="user_id" name="user_id" /><br /><br />

                <label for="report_date">Report Date:</label><br />
                <input
                    type="date"
                    id="report_date"
                    name="report_date"
                /><br /><br />

                <input type="submit" value="Submit" />
            </form>
            <div id="response"></div>
        </div>
    </body>
    <script>
        document
            .getElementById("myForm")
            .addEventListener("submit", async function (e) {
                e.preventDefault();
                const formData = new FormData(this);
                const obj = Object.fromEntries(formData.entries())
                console.log(obj)
                const response = await fetch("/api/report", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(obj),
                });

                const text = await response.text();
                document.getElementById("response").innerText = text;
            });
    </script>
</html>
